@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rodapé.css");


:root {
    --cor-de-fundo: #cafdec;
    --branco: #FFFFFF;
    --laranja: #0e926a;
    --azul-degrade: linear-gradient(97.54deg, #0e926a 35.49%,  #cafdec 165.37%);
    --fonte-principal: "Poppins";
    --azul: #b8face;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
